<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
<h1>Welcome to News</h1>
<div class="source">

    {% for article in news %}
        <ul>
            <div class="row">
                <div class="col-md-4">
                    <li><img src="{{ article.get("urlToImage") }}" alt="Article image"></li>
                </div>
                <div class="col-md-8">
                    <li>Published on: {{ article.get("publishedAt") }}</li>
                    <li>Article Author: {{ article.get("author") }}</li>
                    <li>Article title: {{ article.get("title") }}</li>
                    <li>Description: {{ article.get("description") }}</li>

                    <a href="{{ article.get("url") }}">
                        <li>See full article</li>
                    </a>
                </div>
            </div>


        </ul>


    {% endfor %}
</div>
</body>
</html>